<style>
h2{
    
    color: bisque;
}



input[type=submit]:hover {
    background-color: cadetblue;
    box-shadow: 2px 2px 2px #888888;;
}

.pagebody{
    
    background-color: azure;
}


input[type=text], input[type=password],input[type=email]{
    width: 70%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 12%;
    font-family: Verdana, Geneva, sans-serif;	
    font-size: 20px;
;
    
    
}
input[type=text]:focus,input[type=email]:focus,input[type=password]:focus {
    border: 3px solid red;
    background-color: beige;
}
input::-webkit-input-placeholder  {
    -webkit-transition: opacity 0.3s linear; color: gray;
}
input:focus::-webkit-input-placeholder   {
    opacity: 0;
}




input[type=submit] {
    width: 70%;
    background-color: steelblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 12%;
    font-size: 18px;
    box-shadow: 5px 5px 5px #888888;
}

/* read button color*/
.mybutton {
    color: #222;
    background-color: #f2f2f2;
    border-color: #111;
}


.mytext {
    width: 70%;
    height: 150px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: beige;
    resize: none;
    margin-left: 12%;
}
.myselect{
    width: 70%;
    padding: 16px 20px;
    border: 3;
    border-radius: 4px;
    background-color: beige;
    margin-left: 12%;
}



label{
    margin-left: 11%;
    font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
}

.header{
  margin-left: 70%;
  font-family:   "Trebuchet MS", Helvetica, sans-serif;
    
    
    
}
option{
    font-family: Verdana, Geneva, sans-serif;
    
    
}
.mycontainer{
    border-radius: 3px;
    background-color: #f2f2f2;
    
    width: 30%;
    margin-left: 0;
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 38%;
    
    
    
    
    
    
    
}

.myfooter{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2px;
    width: 100%;
    margin-top: 14%;
    
   
    
    
    
    
    
    
}


.mybody {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 75%;
    margin-left: 11%;
    margin-top: 5%;
    margin-right: 9%;
    box-shadow: 5px 5px 5px #888888;
}
}
footer {
    
    
    color:black;
    margin-bottom: 0;
    
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }


 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }


</style>